{% extends "nav.html" %} {% load static %} {% block contenidoQueCambia %} {% if prods %}

<section class="container p-5 bg-alto">

    <h2 class="display-4 fw-bolder text-center p-3">Articulos encontrados</h2>

    {% for prod in prods %}

    <div class="col mb-5 card-ancho s-ancho">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{prod.imagen.url}}" alt="{{prod.nombre}}" style= "width:30%;  margin-left: auto;
            margin-right: auto;" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{prod.nombre}}</h5>
                    <!-- Product price-->
                    <b>Tipo {{prod.tipo}}</b>
                    <b>Precio: ${{prod.precio}}</b>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
            </div>
        </div>
    </div>

    {% endfor %} {% else %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 class="display-4 fw-bolder text-center p-3">No existe ese producto.</h1>
    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="busqueda">Volver a la Busqueda</a></div>


</section>

{% endif %} {% endblock %}